/* Style Kerangka Secara Umum */ 
    html { 
    scroll-behavior: smooth; 
    font-family: sans-serif; 
    caret-color: transparent; 
    } 
    body { 
    font-family: sans-serif; 
    margin: 0; 
    padding: 0; 
    } 
    /* Seluruh Komponen Pada Header */ 
    .logo { 
    display: flex; /* Use flexbox */ 
    align-items: center; /* Align items vertically */ 
    } 
    .logo img { 
    width: 80px; /* Set the width of the logo */ 
    margin-right: 10px; /* Add some space between the image and 
title */ 
    } 
    .logo h1 { 
    margin: 0; 
    font-size: 24px; 
    font-weight: bold; 
    } 
    header nav { 
    display: flex; 
    justify-content: flex-start; 
    } 
    header nav a { 
    color:#ffffff; 
    text-decoration:none; 
    font-weight: bold; 
    margin: 0 20px; 
    } 
    #navbar { 
    background-color: #997e67; 
 
    color: #333; 
    padding: 10px 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 999; 
    font-family: 'Montserrat', sans-serif; 
    transition: background-color 0.3s ease; 
} 
 
.container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: none; 
    margin: 0 auto; 
    padding: 0 30px; 
} 
 
.logo { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
} 
 
.logo img { 
    height: 70px; 
} 
 
.logo h1 { 
    font-size: 22px; 
    font-weight: bold; 
    margin: 0; 
    color: #ffffff; 
} 
 
nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 30px; 
} 
 
 
nav ul li a { 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 500; 
    color: #ffffff; 
    position: relative; 
    padding: 5px 0; 
    transition: color 0.3s ease; 
    margin-right: 6px;
} 
 
nav ul li a::after { 
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: #a3b9da; 
    transition: width 0.3s ease-in-out; 
} 
 
nav ul li a:hover { 
    color: #ffffff; 
} 
 
nav ul li a:hover::after { 
    width: 100%; 
 
}

/* supaya scroll per section */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* SECTION 1 */
.hero-section {
    height: 100vh; /* 1 layar penuh */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/antarafoto-pemetaan-bahaya-sesar-lembang-210524-rai-2.jpg');
    background-size: cover;
    background-position: center;
}

/* konten hero */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 40px;
    color: #997e67;
    font-family: Tahoma;
    text-align: center;
}

/* SECTION 2 */
#map-section {
    height: 100vh; /* beda halaman */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
}

#map-section h2 { 
    text-align: center; 
    font-size: 36px; 
    font-family: Tahoma;
    color: #664930;
    margin-bottom: 40px; 
    clear: both; 
} 

#map {
    width: 80%;
    height: 900px;
    background-color: lightgray;
    border: 5px solid #664930; /* garis tepi */
    border-radius: 20px;       /* sudut melengkung */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* bayangan */
}

.read-more-btn {
    background-color: #997e67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-family: Tahoma;
    transition: 0.3s;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.read-more-btn:hover {
    transform: scale(1.05);
}

.leaflet-container {
    border-radius: 20px;
}

/* popup background */
.popup {
    display: none;
    position: fixed;
    z-index: 999;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

/* isi popup */
.popup-content {
    background: white;
    width: 70%;
    max-width: 800px;
    margin: 5% auto;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
}


/* tombol close */
.close {
    position: absolute;
    right: 20px;
    top: 10px;

    font-size: 32px;
    cursor: pointer;
    color: #997e67;
}

/* Data Section Styles */ 
#sesar-section { 
    background-color: ""; 
    padding: 60px 0; 
    color: #997e67; 
} 
#sesar-section .container { 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 0 20px; 
    justify-content: center; 
} 
#sesar-section h2 { 
    text-align: center; 
    font-size: 36px; 
    margin-bottom: 40px; 
    clear: both; 
} 
.column { 
    flex: 0 0 calc(30% - 20px); 
    max-width: 500px; 
    margin-bottom: 40px; 
} 
.data-item {  
    background-color: rgb(255, 255, 255); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    margin: auto 10px; 

    display: flex;
    flex-direction: column;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}

.description p {
    flex-grow: 1;
}

.read-more-btn {
    margin-top: auto;
}
.data-item img { 
    display: block; 
    margin: 20px auto 0 auto; /* atas-auto-bawah-auto */ 
    width: 50%; 
    height: auto; 
    border-radius: 10px 10px 0 0; 
} 
.description { 
    padding: 20px; 
    height: 350px; 
    font-family: Tahoma; 
    text-align: justify; 
    line-height: 1.5; 
} 
.description h3 { 
    margin-top: 0; 
    font-size: 24px; 
    text-align: center; 
    color: #997e67; 
} 
.description p { 
    color: #997e67; 
    font-size: 16px; 
}

#legend { 
    max-height: 300px;      /* Atur tinggi maksimum sesuai kebutuhan */
    overflow-y: auto;       /* Aktifkan scroll vertikal */
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 14px;
}
    
.legend div { 
    width: 30px; 
    height: 10px; 
    float: left; 
    margin-right: 8px; 
    opacity: 1; /* Warna solid */
    border: 1px solid #44444433; /* garis batas tipis */
} 
    
div.legend.leaflet-control br { 
    clear: both; 
}

body { 
background-color: #f4efe9; 
margin: 0; 
font-family: 'Segoe UI', sans-serif; 
    background: linear-gradient(to bottom, #f5efe6, #e8d8c4);

}
    